#produit
{
    position : relative;
    width: 95%;
    border: 2px solid black;
    margin : 2% 2% 2% 2%;
    height : 180px;


}


#achat
{
    text-align: left;
}


#description
{
    position : absolute;
    top: 3%;
    right : 5%;
    width : 30%;
    height : 90%;

}

#image{
    position : absolute;
    top : 3%;
    left : 10%;

}


#acheter
{
    width : 25%;
    height : 20%;


}