/* styles principaux de la page(largeur du site, fond, couleur par défaut du texte)  */


body
{
    background: url("/NeighborFood/view/image/Fondbois2.jpg");
    font-family: Vivaldi;
    color: #5c5b5b;


}

#bloc_page{
    width: 90%;
    margin: auto;
}


, h2
  {
      font-weight: normal;
  }

/* header */

header
{
    background: url('/NeighborFood/view/image/Ban2.png');
    height: 240px;
    width: 100%;
    border: 2px solid #494848;
    border-radius : 6px;

}




h2
{
    display: inline-block;
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin:0 auto;

}




/*section*/

section
{


    background: url("/NeighborFood/view/image/FondClair.jpg") ;
    height: 900px;
    font-size: x-large;
    border: 2px solid #494848;
    text-align: center;
    margin-top:60px;
    border-radius: 3px;
}

h1
{

    text-align: center;
    opacity:0.5;


}







/* footer */

footer ul {
    font-size: medium;
    font-family: "Brush Script MT" ;
    list-style-type: none;
    position: relative;
    top: 380px;
    text-align: center;
}


footer li
{
    display: inline-block;


}

help li
{
    display: inline-block;
    margin-right: 15px;

}

help a
{
    font-size: 1.4em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;

    border-radius:15px;

}

help a:hover
{
  text-shadow: #494848 0px 0px 10px;
}
#bandeau_horizontal{
    position:relative;
    width:800px;
    height:230px;
    border:2px solid black;
    overflow:hidden;
    top:-470px;
    right:-200px;
}


/* connecte */

#connecte
{
    text-align: left;
}

/* recherche*/
#rechercher
{
    text-align: left;
}

#membre
{
    border: 2px solid black;
    margin : 2% 2% 2% 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}